.container {
  width: 60%;
  margin: auto;
  height: 100%;
  background: white;
  .imageContainer {
    position: relative;
    height: 50%;
    .back {
      position: absolute;
      top: 20px;
      left: 20px;
    }
    .header {
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
    }
    .likes {
      position: absolute;
      bottom: 10px;
      right: 20px;
      color: white;
      display: flex;
      align-items: center;
    }
  }
  .content {
    padding: 0 20px;
    height: 50%;
    overflow: auto;
    .contentTag {
      display: flex;
      justify-content: space-between;
      .tag {
        color: #cce488;
      }
      .created {
        color: #dadad8;
      }
    }
    .description {
      line-height: 1.5em;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    width: 95%;
  }
}